body{
    font-family: 'Raleway';
    background-color: rgb(232, 247, 245);
}

.random,
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header,
.question-container{
    width: 80vw;
    background-color: white;
    padding-left: 20px;
    border-radius: 7px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 10px;
}

.option-container{
    display: block;
    display: flex;
    gap: 8px;
    color: rgb(77, 76, 76);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* .option-container:hover{
    background-color: rgb(229, 248, 232);
    border-radius: 5px;
    cursor: pointer;
} */

.option-container input[type=checkbox]{
    transform: scale(110%);
}

.question-number{
    font-weight: 600;
    display: inline-block;
    margin-left: 5px;
}

.question{
    font-size: 18px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    height: 25px;
    resize: none;
    overflow: hidden;
    font-family: 'Raleway';
}

.h1{
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    border: none;
    display: block;
    margin: 5px auto;
    width: 100%;
}

.details{
    color: rgb(96, 96, 96);
    display: flex;
    justify-content: space-between;
}

.additional{
    margin-top: 2px;
    text-align: center;
    color: rgb(96, 96, 96);
}

.option-text{
    padding: 2px;
    height: 30px;
    width: 500px;
    vertical-align: middle;
    border:none;
    resize: none;
    font-family: 'Raleway';
    font-size: 16px;
    padding-top: 6px;
}

.add-btn-option{
    height:30px;
    margin-left: 3px;
    font-weight: 600;
    color: white;
    background-color:  rgb(46, 204, 113);
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    padding: 2px 7px;
}

.add-btn-option:hover{
    box-shadow: 2px 1px 5px rgba(0,0,0,0.3);
}

.add-btn-question{
    border: none;
    color: rgb(96,96,96);
    font-size: 18px;
    font-weight: 200;
    position: absolute;
    left: 43%;
    bottom: 1px;
}

.add-btn-question:hover{
    color: black;
    cursor: pointer;
}

.add-question-container{
    position: relative;
    margin-top: 14px;
    height: 12px;
    margin-bottom: 10px;
}

hr{
    width: calc(80vw + 40px);
}

.top-region{
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
}

.answer-region{
    width: 100%;
    resize: none;
    height: 100px;
}

#rem{
    background-color: rgb(204, 65, 50);
}

.removeQuestion{
    background-color: transparent;
    border: none;
    transform: scale(120%);
}

.removeQuestion:hover{
    cursor: pointer;
}

.fa-grip-vertical:hover{
    cursor: -webkit-grab;
}

.fa-grip-vertical:active{
    cursor: -webkit-grabbing;
}

.slider-container{
    flex-direction: row;
    display: none;
}

.show{
    display: flex;
}

.hidebox{
    display: none;
}
.check{
    display: none;
}

.slider-value{
    width: 30px;
    margin-left: 10px;
    margin-right: 5px;
}

.final-cont{
    width: 82vw;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    box-sizing: content-box;
    margin: 0 auto;
    align-items: center;
}

.final-cont div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.final-cont div p{
    font-size: 14px;
}

.final-cont div input{
    height: 26px;
    width: 60px;
}

.final{
    padding: 10px 10px;
    border: none;
    background-color: rgb(28, 150, 233);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.final:hover{
    box-shadow: 2px 1px 5px rgba(0,0,0,0.3);
    opacity: 80%;
    cursor: pointer;
}

.final:active{
    opacity: 60%;
}

.alert-border{
    border: 2px solid red;
}