<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8677a1a9c2.js" crossorigin="anonymous"></script>   
    <title>Questionnaire</title>
</head>
<body>
    <main>
        <div class="header">
            <input class="h1" type="text" placeholder="Enter a Name" value="Untitled Questionnaire">
            <textarea class="additional">Enter a Subheading, this is optional and can be removed from the final document.</textarea>
        </div>
    
        <div draggable="true" class="question-container" id="question1">
            <div class="top-region">
                <div>
                    <i id="grip" class="fa-solid fa-grip-vertical"></i>
                    <p class="question-number">Question 1</p>
                </div>
                <div class="properties">
                    <select id="question-type" onchange="changeLayout(this, 'question1')">
                    <option>MCQ</option>
                    <option>Open-Ended</option>
                    </select>
        
                    <select onchange="giveSlider(this, 'question1'); checkbox(this, 'question1');" id="selection">
                    <option>Random</option>
                    <option>Perticular</option>
                    <option>Custom</option>
                    </select>
                    
                    <button class="removeQuestion" onclick="removeQuestion('question1')"><i class="fa-regular fa-circle-xmark"></i></button>
                </div>
            </div>
            <textarea class="question" type="text" placeholder="Write a Question Like Who won WW2?"></textarea>
            <div id="holder">
                <div class="option-container">
                    <div>
                        <input class="check" type="checkbox">
                        <textarea class="option-text" type="text" placeholder="Write an Option Like The Allies"></textarea>
                    </div>
                    <div class="slider-container">
                        <input class="slider" type="range" min="0" max="100" value="0">
                        <input class="slider-value" value="0"> %
                    </div>
                </div>
            </div>
            <button class="add-btn-option" onclick="addOption('question1')">Add An Option</button>
            <button id="rem" class="add-btn-option" onclick="removeOption('question1')">Remove An Option</button>
        </div>
    </main>


    <div class="add-question-container">
      <button class="add-btn-question" onclick="addQuestion()">Add A Question</button>
      <hr>
    </div>

    <div class="final-cont">
        <div>
            <p>Number of Copies: </p>
            <input id="copies" type="number" value="10" min="1" max="1000">
        </div>
        <button onclick="openSettings()" class="final">Next</button>
    </div>

    <div class="hidden-overlay hidden"></div>
    <div class="Settings hidden">
        <div class="sty">
            <h2>Additional Settings</h2>
            <button class="removeQuestion" onclick="closeSettings()"><i class="fa-regular fa-circle-xmark"></i></button>
        </div>
        
        <div>
            <input id="subh" type="checkbox" name="subheading-include">
            <label for="subheading-include">Include Sub-heading</label>
        </div>

        <hr>
        
        <div>
            <input id="graphs" checked type="checkbox" name="graph-status">
            <label for="graph-status">Include Graphs</label>
        </div>

        <hr>

        <div class="sty">
            <label for="graph-type">Enter Graph Type</label>
            <select id="grapht" name="graph-type">
                <option>Bar</option>
                <option selected>Pie</option>
            </select>
        </div>

        <button onclick="generate()">Generate</button>
    </div>
    

    <script src="{{ url_for('static', filename='additions.js') }}">
    </script>

    <script src="{{ url_for('static', filename='drag.js') }}">
    </script>
    
    <script src="{{ url_for('static', filename='slider.js') }}">
    </script>

    <script src="{{ url_for('static', filename='onsubmit.js') }}">
    </script>

</body>
</html>